<%= render 'shared/navbar'%>

<div class="h-screen w-full fixed top-3 flex justify-center items-center">
    <div class="h-[70%] w-[50%] flex justify-center  border-2">
        <%= form_with model: @authenticate_user, url: admin_session_path do |form| %>
            <div class="flex flex-col space-y-10">
                <div class="flex justify-center items-center h-44">
                    <%= image_tag 'managco_main_logo', class: "w-[10%]"%>
                </div>

                <div class="flex flex-row space-x-4 justify-center">
                    <label for="Email" class="w-32">Work Email:</label>
                    <%= form.email_field :email, class:"w-80 h-8 rounded-xl px-2 border-2 border-neutral-200" %>
                </div>

                <div class="flex flex-row space-x-4 justify-center">
                    <label for="Password" class="w-32">Password:</label>
                    <%= form.password_field :password, class:"w-80 h-8 rounded-xl px-2 border-2 border-neutral-200" %>
                </div>

                <div class=" flex flex-row space-x-4 justify-center py-6">
                    <%= form.submit "Login", disable_with: 'Submiting...' , class:"w-44 h-9 bg-blue-500 text-sm text-white font-semibold rounded-xl hover:bg-green-500" %>
                </div>
                
                <div class=" flex justify-center ">
                    <p class="w-3/4 text-sm">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nemo eius accusamus saepe quas, nulla ipsa dicta. Fugit quaerat omnis exercitationem voluptatem adipisci mollitia ab facilis nihil a beatae sunt praesentium dolorem dicta earum alias, repudiandae distinctio ducimus nemo culpa optio ratione voluptas obcaecati ea! Nemo, autem! Quas dignissimos recusandae eveniet!<a href="/session/admin/register" class="text-blue-500 underline">  Doesn't have a Account SignUp now!</a></p>
                </div>

            </div>

        <% end %>

            

        </form>
    </div>
    
</div>