<!DOCTYPE html>
<html>
  <head>
    <title>Managco</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="//unpkg.com/alpinejs" defer></script>
    <%#= favicon_link_tag asset_path('managco_logo.png') %>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-gray-50">
    <div id="flash">
      <%= render "shared/flash" unless flash.empty? %>
    </div>
    <%= yield %>
  </body>
</html>
